<ion-header>
    <ion-toolbar>
        <ion-title>
            MOVIS rocks!
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onBeerClicked()">
                <ion-icon name="beer" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let card of cardsData">
        <img src="../../assets/shapes.svg" alt="SVG image">

        <ion-card-header>
            <ion-card-title>{{card.title}}</ion-card-title>
            <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <div>{{card.contentText}}</div>
            <div>
                <ion-buttons class="ion-justify-content-end">
                    <ion-button (click)="openAlert()">Alerta</ion-button>
                </ion-buttons>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
